.row {
  box-sizing: border-box;
  height: 125px;
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}

.clear-both {
  clear: both;

}

div.img-column {
  float: left;
  width: 115px;
  height: 100%;
  border: 2px solid black;
  margin-left: 80px;
  margin-right: 80px;
  padding: 35px;
  margin-top: 30px;
}

h1 {
  color: white;
  text-align: center;
  background-color: black;
  margin-top: 0px;

}

p {
  margin-bottom: 10px;
  text-align: center;
}

.container {
  border: 5px solid black;
  height: 700px;
}
